*.iml
*.log
*.apks
.gradle
.idea
!/gradle
!gradle.properties
!gradlew*
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
!/app/src/main/assets
!/packs
!/packs/*/build/
/_service
clear_debug.cmd
clear_restore.cmd
c.cmd